[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MRG"]
	path = MRG
	url = https://github.com/jskoien/mrg
[submodule "automap"]
	path = automap
	url = https://github.com/cran/automap
[submodule "intamap"]
	path = intamap
	url = https://github.com/cran/intamap
[submodule "intamapInteractive"]
	path = intamapInteractive
	url = https://github.com/cran/intamapInteractive
[submodule "rtop"]
	path = rtop
	url = https://github.com/cran/rtop
